* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: white;
}
header img {
    max-width: 200px;
    padding: 10px;
}

.header-img:hover {
    transition: 0.5s ease;
    transform: scale(1.1);
}

header h2{
    color: white;
    margin: 20px;
}

.header-ul{
    margin: 20px;
    display: flex;
}

.header-li {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.header-li a:hover{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(199, 32, 32);
    color: black;
    transition: 0.5s ease;
}


footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    }

footer p, a {
    padding: 10px;
    margin: 10px;
    color: white;
    margin: 0 auto;    
}

