body, html {
    background-image: url(/img/background.jpg);
    background-size: cover;
}

section h1 {
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
}

#personagens {
    display: grid;
    max-width: 100%;
}
.personage-one {
    border: 1px solid color red;
    background-color: beige;
    height: 300px;
    width: 200px;
    margin: 10px;
}

.personage-info {

}
.personagem-img {
    max-width: 200px;
}

