body, html {
    background-image: url(/img/saga.jpg);
    background-size: cover;
}

nav {
    padding-bottom: 30px;
}
nav h1 {
    background-color: aliceblue;
    text-align: center;
}

article {
    box-shadow: 0px 15px 80px rgba(0, 0, 0, 30);
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap:wrap;
}

.saga-card:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: rgb(255, 0, 0);
    border-color: red;
}



.saga-card {
    border: 6px solid black;
    width: 300px;
    height: 500px;
    background-color: antiquewhite;
    width: fit-content;
    block-size: fit-content;
}

.saga-box {

}

.saga-img{ 

}

.saga-name {
    text-align: center;
}

.saga-creator {
    padding-top: 60px;
    text-align: center;

}